<!-- Topology View partial HTML -->
<div id="ov-topoX">
    <div id="topoXtmp">
        <div class="instances">
            <h4>Instances</h4>
            <div></div>
        </div>
        <div class="layoutData">

            <h4>Layout Data</h4>

            <div class="l_id">
                Layout ID: <span> - </span>
            </div>
            <div class="l_parent">
                Layout Parent: <span> - </span>
            </div>
            <div class="l_region">
                Region ID: <span> - </span>
            </div>
            <div class="l_regionName">
                Region Name: <span> - </span>
            </div>
            <div class="l_crumbs">
                Breadcrumbs: <span> </span>
            </div>

        </div>
        <div class="thisRegion">
            <b>This Region ID:</b> <span></span>
        </div>
        <div class="subRegions">
            <h4>Subregions</h4>
            <div></div>
        </div>
        <div class="devices">
            <h4>Devices</h4>
            <div></div>
        </div>
        <div class="hosts">
            <h4>Hosts</h4>
            <div></div>
        </div>
        <div class="links">
            <h4>Links</h4>
            <div></div>
        </div>
        <div class="peers">
            <h4>Peers</h4>
            <div></div>
        </div>
    </div>
</div>
