<!-- partial HTML -->
<div id="ov-roadm-device" class="less-gap">

    <div class="tabular-header">
        <h2>Optical Devices ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="42"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
            <div class="separator"></div>

            <div ng-class="{'current-view': !!selId}"
                 icon icon-id="deviceTable" icon-size="42"></div>

            <div ng-class="{active: !!selId}"
                 icon icon-id="flowTable" icon-size="42"
                 tooltip tt-msg="flowTip"
                 ng-click="nav('roadmFlow')"
                 ng-show="showFlowIcon"></div>


            <div ng-class="{active: !!selId}"
                 icon icon-id="portTable" icon-size="42"
                 tooltip tt-msg="portTip"
                 ng-click="nav('roadmPort')"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>

        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="name"sortable>Friendly Name</td>
                    <td colId="id" sortable>Device ID </td>
                    <td colId="master" sortable col-width="120px">Master </td>
                    <td colId="type" sortable>Device Type </td>
                    <td colId="ports" sortable col-width="70px">Ports </td>
                    <td colId="vendor" sortable>Vendor </td>
                    <td colId="hwVersion" sortable>H/W Version </td>
                    <td colId="swVersion" sortable>S/W Version </td>
                    <td colId="protocol" sortable col-width="100px">Protocol </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="3">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="item in tableData track by $index"
                    ng-class="{selected: item.id === selId}"
                    ng-click="selectCallback($event, item);queryShowItems(item)">
                    <td>{{item.name}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.master}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.ports}}</td>
                    <td>{{item.vendor}}</td>
                    <td>{{item.hwVersion}}</td>
                    <td>{{item.swVersion}}</td>
                    <td>{{item.protocol}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
