[{linc,
     [{of_config,disabled},
      {software_desc,<<"LINC-OE OpenFlow Software Switch 1.1">>},
      {capable_switch_ports,
          [{port,1,[{interface,"dummy"},{type,optical}]},
           {port,2,[{interface,"dummy"},{type,optical}]},
           {port,5,[{interface,"dummy"},{type,optical}]},
           {port,6,[{interface,"dummy"},{type,optical}]},
           {port,7,[{interface,"dummy"},{type,optical}]},
           {port,8,[{interface,"dummy"},{type,optical}]},
           {port,9,[{interface,"dummy"},{type,optical}]},
           {port,10,[{interface,"dummy"},{type,optical}]},
           {port,3,[{interface,"tap3"}]},
           {port,4,[{interface,"tap4"}]}]},
      {capable_switch_queues,[]},
      {optical_links,[{{1,20},{3,30}},{{3,31},{2,21}},{{1,22},{4,30}},{{4,31},{2,22}}]},
      {logical_switches,
          [{switch,1,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:01"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,1,[{queues,[]},{port_no,20}]},
                     {port,7,[{queues,[]},{port_no,22}]},
                     {port,3,[{queues,[]},{port_no,10}]}]}]},
           {switch,3,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:03"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,5,[{queues,[]},{port_no,30}]},
                     {port,6,[{queues,[]},{port_no,31}]}]}]},
           {switch,2,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:02"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                  [{port,2,[{queues,[]},{port_no,21}]},
                  {port,8,[{queues,[]},{port_no,22}]},
                  {port,4,[{queues,[]},{port_no,11}]}]}]},
           {switch,4,
              [{backend,linc_us4_oe},
               {datapath_id,"00:00:ff:ff:ff:ff:ff:04"},
               {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
               {controllers_listener,disabled},
               {queues_status,disabled},
               {ports,
                 [{port,9,[{queues,[]},{port_no,30}]},
                 {port,10,[{queues,[]},{port_no,31}]}]}]}]}]},
 {epcap,[{verbose,false},{stats_interval,10}]},
 {enetconf,
     [{capabilities,
          [{base,{1,0}},
           {base,{1,1}},
           {startup,{1,0}},
           {'writable-running',{1,0}}]},
      {callback_module,linc_ofconfig},
      {sshd_ip,any},
      {sshd_port,1830},
      {sshd_user_passwords,[{"linc","linc"}]}]},
 {lager,
     [{handlers,
          [{lager_console_backend,debug},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {sync,[{excluded_modules,[procket]}]}].
