[{linc,
     [{of_config,disabled},
      {software_desc,<<"LINC-OE OpenFlow Software Switch 1.1">>},
      {capable_switch_ports,
          [{port,1,[{interface,"dummy"},{type,optical}]},
           {port,2,[{interface,"dummy"},{type,optical}]},
           {port,3,[{interface,"dummy"},{type,optical}]},
           {port,4,[{interface,"dummy"},{type,optical}]},
           {port,5,[{interface,"dummy"},{type,optical}]},
           {port,6,[{interface,"dummy"},{type,optical}]},
           {port,7,[{interface,"dummy"},{type,optical}]},
           {port,8,[{interface,"dummy"},{type,optical}]},
           {port,9,[{interface,"dummy"},{type,optical}]},
           {port,10,[{interface,"dummy"},{type,optical}]},
           {port,11,[{interface,"dummy"},{type,optical}]},
           {port,12,[{interface,"dummy"},{type,optical}]},
           {port,13,[{interface,"dummy"},{type,optical}]},
           {port,14,[{interface,"dummy"},{type,optical}]},
           {port,15,[{interface,"dummy"},{type,optical}]},
           {port,16,[{interface,"dummy"},{type,optical}]},
           {port,17,[{interface,"dummy"},{type,optical}]},
           {port,18,[{interface,"dummy"},{type,optical}]},
           {port,19,[{interface,"dummy"},{type,optical}]},
           {port,20,[{interface,"dummy"},{type,optical}]},
           {port,21,[{interface,"dummy"},{type,optical}]},
           {port,22,[{interface,"dummy"},{type,optical}]},
           {port,23,[{interface,"dummy"},{type,optical}]},
           {port,24,[{interface,"dummy"},{type,optical}]},
           {port,25,[{interface,"dummy"},{type,optical}]},
           {port,26,[{interface,"dummy"},{type,optical}]},
           {port,27,[{interface,"dummy"},{type,optical}]},
           {port,28,[{interface,"dummy"},{type,optical}]},
           {port,29,[{interface,"tap29"}]},
           {port,30,[{interface,"tap30"}]},
           {port,31,[{interface,"tap31"}]},
           {port,32,[{interface,"tap32"}]},
           {port,33,[{interface,"tap33"}]},
           {port,34,[{interface,"tap34"}]}]},
      {capable_switch_queues,[]},
      {optical_links,
          [{{1,50},{2,30}},
           {{2,50},{3,30}},
           {{3,50},{4,50}},
           {{1,20},{5,50}},
           {{2,20},{5,20}},
           {{3,20},{6,50}},
           {{4,20},{6,20}},
           {{5,30},{6,40}},
           {{5,40},{7,50}},
           {{6,30},{8,50}},
           {{7,20},{8,30}},
           {{7,30},{9,50}},
           {{8,20},{10,50}},
           {{9,20},{10,20}}]},
      {logical_switches,
          [{switch,1,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:01"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,1,[{queues,[]},{port_no,50}]},
                     {port,7,[{queues,[]},{port_no,20}]},
                     {port,29,[{queues,[]},{port_no,10}]}]}]},
           {switch,2,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:02"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,2,[{queues,[]},{port_no,30}]},
                     {port,3,[{queues,[]},{port_no,50}]},
                     {port,9,[{queues,[]},{port_no,20}]}]}]},
           {switch,3,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:03"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,4,[{queues,[]},{port_no,30}]},
                     {port,5,[{queues,[]},{port_no,50}]},
                     {port,11,[{queues,[]},{port_no,20}]}]}]},
           {switch,4,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:04"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,6,[{queues,[]},{port_no,50}]},
                     {port,13,[{queues,[]},{port_no,20}]},
                     {port,30,[{queues,[]},{port_no,10}]}]}]},
           {switch,5,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:05"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,8,[{queues,[]},{port_no,50}]},
                     {port,10,[{queues,[]},{port_no,20}]},
                     {port,15,[{queues,[]},{port_no,30}]},
                     {port,17,[{queues,[]},{port_no,40}]}]}]},
           {switch,7,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:07"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,18,[{queues,[]},{port_no,50}]},
                     {port,21,[{queues,[]},{port_no,20}]},
                     {port,23,[{queues,[]},{port_no,30}]},
                     {port,32,[{queues,[]},{port_no,10}]}]}]},
           {switch,8,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:08"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,20,[{queues,[]},{port_no,50}]},
                     {port,22,[{queues,[]},{port_no,30}]},
                     {port,25,[{queues,[]},{port_no,20}]}]}]},
           {switch,9,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:09"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,24,[{queues,[]},{port_no,50}]},
                     {port,27,[{queues,[]},{port_no,20}]},
                     {port,33,[{queues,[]},{port_no,10}]}]}]},
           {switch,10,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:0A"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,26,[{queues,[]},{port_no,50}]},
                     {port,28,[{queues,[]},{port_no,20}]},
                     {port,34,[{queues,[]},{port_no,10}]}]}]},
           {switch,6,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:06"},
                {controllers,[{"Switch0-Controller","10.1.8.147",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,
                    [{port,12,[{queues,[]},{port_no,50}]},
                     {port,14,[{queues,[]},{port_no,20}]},
                     {port,16,[{queues,[]},{port_no,40}]},
                     {port,19,[{queues,[]},{port_no,30}]},
                     {port,31,[{queues,[]},{port_no,10}]}]}]}]}]},
 {epcap,[{verbose,false},{stats_interval,10}]},
 {enetconf,
     [{capabilities,
          [{base,{1,0}},
           {base,{1,1}},
           {startup,{1,0}},
           {'writable-running',{1,0}}]},
      {callback_module,linc_ofconfig},
      {sshd_ip,any},
      {sshd_port,1830},
      {sshd_user_passwords,[{"linc","linc"}]}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {sync,[{excluded_modules,[procket]}]}].
