# By default, we build and run ONOS using the Bazel-provided remote JDK. The
# specific JDK version is defined in tools/build/jdk/BUILD.
#
# If you prefer to use your locally installed JDK use local_java_repositoy
# in the WORKSPACE file.
#
# https://bazel.build/docs/bazel-and-java

# Builds using remotejdk_11, executes using remotejdk_11 or local_jdk
build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11
build --tool_java_runtime_version=remotejdk_11

build --host_force_python=PY3

build --nouse_ijars
build --experimental_strict_action_env

# For external/io_grpc_grpc_java/core/src/main/java/io/grpc/internal/RetriableStream.java
build --javacopt="-Xep:GuardedBy:WARN -Xep:ComparableType:WARN -Xep:ReturnValueIgnored:OFF"

# intellij-bazel plugin needs this
build --incompatible_new_actions_api=false
build --incompatible_generated_protos_in_virtual_imports=false

# For bazelbuild/rules_nodejs
build --define=angular_ivy_enabled=True

test --test_summary=terse
test --test_output=errors
test --test_verbose_timeout_warnings

# build --disk_cache=~/bazel-cache
# build --remote_http_cache=http://10.1.10.224:80/cache
