**/*.class
**/target
**/*.iml
**/*.pyc
**/*.ova
**/.idea
.javacp*

.ijwb


web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules

bazel-*
target


