**/*.class
**/target
**/*.iml
**/*.pyc
**/.idea
.javacp*

.buckd
buck-out
bucklets/plugins
.git
bin

web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules

