*~
*.class
.classpath
.project
.ijwb
.pydevproject
.settings
.javacp*
.checkstyle
target
*.iml
*.pyc
dependency-reduced-pom.xml
.idea
*.DS_Store
.buckd
buck-out
.buckconfig.local
.buckjavaargs*
bucklets/plugins/
.watchmanconfig
.vscode
*.fxs

/bin/
lib/yang
/tools/gui/bin
/tools/gui/node_modules
/tools/gui/package-lock.json

web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules/
web/gui/src/main/webapp/tests/coverage
web/gui/src/main/webapp/dist/
web/gui/src/main/webapp/vendor/

npm-debug.log
sonar-project.properties

out/

bazel-*
