*~
*.class
.classpath
.project
.pydevproject
.settings
.javacp*
.checkstyle
target
*.iml
*.pyc
dependency-reduced-pom.xml
.idea
*.DS_Store
.buckd
buck-out
.buckconfig.local
.buckjavaargs*
bucklets/plugins/
.watchmanconfig

/bin/

web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules/

npm-debug.log
