*~
*.class
.classpath
.project
.ijwb
.pydevproject
.settings
.javacp*
.checkstyle
target
*.iml
*.pyc
dependency-reduced-pom.xml
.idea
*.DS_Store
.buckd
buck-out
.buckconfig.local
.buckjavaargs*
bucklets/plugins/
.watchmanconfig
.vscode
*.fxs

/bin/
lib/yang
/tools/gui/bin
/tools/gui/node_modules
/tools/gui/false

web/gui/src/main/webapp/tests/node_modules
web/gui/src/test/_karma/node_modules
web/gui/src/main/webapp/node_modules/
web/gui/src/main/webapp/tests/coverage
web/gui/src/main/webapp/dist/
web/gui/src/main/webapp/vendor/

npm-debug.log
sonar-project.properties

out/

bazel-*

web/gui2/node_modules/
web/gui2/documentation/
web/gui2/dist/
web/gui2/.pki/
web/gui2/.cache/
web/gui2/.npm/
web/gui2/src/main/webapp/**/*.js
!web/gui2/src/main/webapp/rxjs_shims.js
!web/gui2/src/main/webapp/rollup.config.js
!web/gui2/src/main/webapp/karma.conf.js
web/gui2/e2e/**/*.js
web/gui2-fw-lib/**/*.js
web/gui2-topo-lib/**/*.js
apps/faultmanagement/fm-gui2-lib/**/*.js
apps/roadm/web/roadm-gui/**/*.js
apps/yang-gui/yang-gui2-lib/**/*.js
tools/package/archetypes/ui2/src/main/resources/archetype-resources/web/__artifactId__-gui/dist/
tools/package/archetypes/ui2/src/main/resources/archetype-resources/web/__artifactId__-gui/projects/__artifactId__-gui-lib/src/**/*.js
