<!-- settings partial HTML -->
<div id="ov-settings">
    <div class="tabular-header">
        <h2>Component Settings ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="36" icon-id="refresh"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-fixed-header>

        <div class="table-header"
             onos-sortable-header
             sort-params="sortParams"
             sort-callback="sortCallback(sortParams)">
            <table>
                <tr>
                    <td colId="component" sortable col-width="350px">Component </td>
                    <td colId="id" sortable>Property </td>
                    <td colId="type" sortable col-width="70px">Type </td>
                    <td colId="value" sortable>Value </td>
                    <td colId="defValue" sortable>Default </td>
                    <td colId="desc" col-width="520px">Description </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-hide="tableData.length" class="no-data ignore-width">
                    <td colspan="6">
                        No Settings found
                    </td>
                </tr>

                <tr ng-repeat="prop in tableData"
                    ng-repeat-done>
                    <td>{{prop.component}}</td>
                    <td>{{prop.id}}</td>
                    <td>{{prop.type}}</td>
                    <td>{{prop.value}}</td>
                    <td>{{prop.defValue}}</td>
                    <td>{{prop.desc}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>
