<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="5"
           ncx:last-modified="2018-05-08T02:33:14Z"
           ncx:etag="170">
  <data>
    <lldp-global-operational xmlns="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-ieee-lldp">
      <chassis-id-subtype>mac-address</chassis-id-subtype>
      <chassis-id>1C1161D18800</chassis-id>
      <system-name>SJC_5170</system-name>
      <system-description>CN5170</system-description>
      <system-capability-supported>bridge</system-capability-supported>
      <system-capability-enabled>bridge</system-capability-enabled>
    </lldp-global-operational>
  </data>
</rpc-reply>