<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="9"
           ncx:last-modified="2018-05-08T02:33:14Z"
           ncx:etag="170">
  <data>
    <interfaces xmlns="http://openconfig.net/yang/interfaces">
      <interface>
        <name>1</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>2</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>3</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>4</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>5</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>6</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>7</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>8</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>9</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>10</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>11</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>12</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>13</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>14</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>15</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>16</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>17</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>18</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>19</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>20</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>21</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>22</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>23</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>24</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>25</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>26</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>27</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>28</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>29</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>30</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>31</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>32</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>33</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>34</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>35</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>36</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>37</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>38</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>39</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>40</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>41</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>4720374</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>15008140</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">4339</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">13231</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>42</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>8442456</in-octets>
            <in-unicast-pkts>14330</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>15013207</out-octets>
            <out-unicast-pkts>18</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">18668</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">13249</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>43</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>1313160931</in-octets>
            <in-unicast-pkts>5033402</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>15103046</out-octets>
            <out-unicast-pkts>1697</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">5037901</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">14602</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>44</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>105255079746</in-octets>
            <in-unicast-pkts>411155416</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>524744</out-octets>
            <out-unicast-pkts>3603</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">411155469</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">4587</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>mgmtbr0</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>S3_S6_1</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>S3_S6_2</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>S4_S6</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_RED_V4</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_BLUE_V4</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_BLUE_V6</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_GREEN_V6</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
    </interfaces>
  </data>
</rpc-reply>