<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="10"
           ncx:last-modified="2018-05-08T02:33:14Z"
           ncx:etag="170">
  <data>
    <software-state xmlns="http://www.ciena.com/ns/yang/ciena-software-mgmt">
      <running-package>
        <package-version>saos-01-01-00-0025</package-version>
      </running-package>
    </software-state>
  </data>
</rpc-reply>