<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="11"
           ncx:last-modified="2018-05-08T02:33:14Z"
           ncx:etag="170">
  <data>
    <components xmlns="http://openconfig.net/yang/platform">
      <component>
        <name>CN5170</name>
        <properties>
          <property>
            <name>base-mac</name>
            <config>
              <name>base-mac</name>
            </config>
            <state/>
          </property>
        </properties>
        <state/>
      </component>
    </components>
  </data>
</rpc-reply>