<!-- app partial HTML -->
<div id="ov-app">
    <div class="tabular-header">
        <h2>Applications ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="36" icon-id="refresh"
                 ng-click="toggleRefresh()"></div>
            <div class="separator"></div>
            <div id="app-install"
                 icon icon-size="36" icon-id="plus"
                 class="active">
            </div>
            <div id="app-activate"
                 icon icon-size="36" icon-id="play"
                 ng-class="{active: ctrlBtnState.installed}">
            </div>
            <div id="app-deactivate"
                 icon icon-size="36" icon-id="stop"
                 ng-class="{active: ctrlBtnState.active}">
            </div>
            <div id="app-uninstall"
                 icon icon-size="36" icon-id="garbage"
                 ng-class="{active: ctrlBtnState.selection}">
            </div>
        </div>

        <form id="app-form" method="POST" action="rs/applications/upload"
              target="app-form-response" enctype="multipart/form-data" style="display:none">
            <input type="file" name="file" id="file" size="50" accept=".oar">
            <button type="submit" id="app-upload">Upload</button>
        </form>
        <iframe id="app-form-response" name="app-form-response"
                src="" width="0" height="0" style="visibility:hidden;display:none"></iframe>
    </div>

    <div class="summary-list" onos-fixed-header>

        <div class="table-header"
             onos-sortable-header
             sort-params="sortParams"
             sort-callback="sortCallback(sortParams)">
            <table>
                <tr>
                    <td colId="state" class="table-icon" sortable></td>
                    <td colId="id" sortable>App ID </td>
                    <td colId="version" sortable>Version </td>
                    <td colId="origin" sortable>Origin </td>
                    <td colId="desc" col-width="475px">Description </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-hide="tableData.length" class="no-data ignore-width">
                    <td colspan="5">
                        No Applications found
                    </td>
                </tr>

                <tr ng-repeat="app in tableData track by app.id"
                    ng-click="selectCallback($event, app)"
                    ng-class="{selected: app.id === selId}"
                    ng-repeat-done>
                    <td class="table-icon">
                        <div icon icon-id="{{app._iconid_state}}"></div>
                    </td>
                    <td>{{app.id}}</td>
                    <td>{{app.version}}</td>
                    <td>{{app.origin}}</td>
                    <td>{{app.desc}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>
