<!-- app partial HTML -->
<div id="ov-app">
    <div>
        <h2>Applications ({{ctrl.tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div icon icon-size="36" icon-id="appPlus"></div>
            <div icon icon-size="36" icon-id="appMinus" class="disabled"></div>
            <div icon icon-size="36" icon-id="appPlay" class="disabled"></div>
            <div icon icon-size="36" icon-id="appStop" class="disabled"></div>
        </div>
    </div>
    <table class="summary-list"
           onos-fixed-header
           onos-sortable-header
           sort-callback="sortCallback(requestParams)">
        <thead>
            <tr>
                <th colId="state" class="table-icon" sortable></th>
                <th colId="id" sortable>App ID </th>
                <th colId="version" sortable>Version </th>
                <th colId="origin" sortable>Origin </th>
                <th colId="desc" col-width="400px">Description </th>
            </tr>
        </thead>

        <tbody>
        <tr ng-repeat="app in ctrl.tableData"
            ng-click="selectCallback(app)"
            ng-class="{selected: app === sel}"
            ng-repeat-done>
            <td class="table-icon">
                <div icon icon-id="{{app._iconid_state}}"></div>
            </td>
            <td>{{app.id}}</td>
            <td>{{app.version}}</td>
            <td>{{app.origin}}</td>
            <td>{{app.desc}}</td>
        </tr>
        </tbody>
    </table>

</div>
