<!-- app partial HTML -->
<div id="ov-app" filedrop on-file-drop="appDropped()">
    <div class="tabular-header">
        <h2>
            {{lion('title_apps')}}
            ({{tableData.length}} {{lion('total')}})
        </h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-size="42" icon-id="refresh"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>

            <div class="separator"></div>

            <form id="inputFileForm">
                <input id="uploadFile"
                       type="file" size="50" accept=".oar,.jar"
                       file-model="appFile">
            </form>

            <div icon icon-size="42" icon-id="upload"
                 class="active" trigger-form
                 tooltip tt-msg="uploadTip">
            </div>
            <div icon icon-size="42" icon-id="play"
                 ng-click="appAction('activate')"
                 tooltip tt-msg="activateTip"
                 ng-class="{active: ctrlBtnState.installed}">
            </div>
            <div icon icon-size="42" icon-id="stop"
                 ng-click="appAction('deactivate')"
                 tooltip tt-msg="deactivateTip"
                 ng-class="{active: ctrlBtnState.active}">
            </div>
            <div icon icon-size="42" icon-id="garbage"
                 ng-click="appAction('uninstall')"
                 tooltip tt-msg="uninstallTip"
                 ng-class="{active: ctrlBtnState.selection}">
            </div>
            <div icon icon-size="42" icon-id="download"
                 ng-click="downloadApp()"
                 tooltip tt-msg="downloadTip"
                 ng-class="{active: ctrlBtnState.selection}">
            </div>
        </div>

        <div class="search">
            <input type="text" ng-model="queryTxt" placeholder="Search"/>
            <select ng-model="queryBy">
                <option value="" disabled>Search By</option>
                <option value="$">All Fields</option>
                <option value="title">{{lion('title')}}</option>
                <option value="id">{{lion('app_id')}}</option>
                <option value="version">{{lion('version')}}</option>
                <option value="category">{{lion('category')}}</option>
                <option value="apporiginName">{{lion('origin')}}</option>

            </select>
        </div>


    </div>

    <div class="summary-list" onos-table-resize>
        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="state" class="table-icon" sortable></td>
                    <td colId="icon" class="table-icon"></td>
                    <td colId="title" sortable col-width="340"> {{lion('title')}} </td>
                    <td colId="id" sortable col-width="320px"> {{lion('app_id')}} </td>
                    <td colId="version" sortable col-width="140px"> {{lion('version')}} </td>
                    <td colId="category" sortable col-width="136px"> {{lion('category')}} </td>
                    <td colId="origin" sortable> {{lion('origin')}} </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table onos-flash-changes id-prop="id">
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="5">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="app in tableData | filter:queryFilter track by $index"
                    ng-click="selectCallback($event, app)"
                    ng-class="{selected: app.id === selId}"
                    ng-repeat-complete row-id="{{app.id}}">
                    <td class="table-icon">
                        <div icon icon-id="{{app._iconid_state}}"></div>
                    </td>
                    <td class="table-icon"><img data-ng-src="./rs/applications/{{app.icon}}/icon"
                             height="24px" width="24px" /></td>
                    <td>{{app.title}}</td>
                    <td>{{app.id}}</td>
                    <td>{{app.version}}</td>
                    <td>{{app.category}}</td>
                    <td>{{app.origin}}</td>
                </tr>
            </table>
        </div>

    </div>

    <application-details-panel></application-details-panel>

</div>
