<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015-present Open Networking Foundation
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<app name="${onos.app.name}" origin="${onos.app.origin}" version="${project.version}"
        title="${onos.app.title}" category="${onos.app.category}" url="${onos.app.url}"
        featuresRepo="mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/features"
        features="${project.artifactId}" apps="${onos.app.requires}">
    <description>${project.description}</description>
    <artifact>mvn:${project.groupId}/${project.artifactId}/${project.version}</artifact>
</app>
