<!-- partial HTML -->
<div id="ov-sample-table">
    <div class="tabular-header">
        <h2>Items ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="36"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>

        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="id" sortable>Item ID </td>
                    <td colId="label" sortable>Label </td>
                    <td colId="code" sortable>Code </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table>
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="3">
                        {{annots.no_rows_msg}}
                    </td>
                </tr>

                <tr ng-repeat="item in tableData track by $index"
                    ng-click="selectCallback($event, item)"
                    ng-class="{selected: item.id === selId}">
                    <td>{{item.id}}</td>
                    <td>{{item.label}}</td>
                    <td>{{item.code}}</td>
                </tr>
            </table>
        </div>

    </div>

    <ov-sample-table-item-details-panel></ov-sample-table-item-details-panel>
</div>
