<!-- Device partial HTML -->
<div id="ov-device">
    <h2>Devices ({{ctrl.tableData.length}} total)</h2>
    <table class="summary-list"
           onos-fixed-header
           onos-sortable-header
           sort-callback="sortCallback(requestParams)">
        <thead>
            <tr>
                <th colId="available" class="table-icon" sortable></th>
                <th colId="type" class="table-icon" sortable></th>
                <th colId="id" sortable>Device ID </th>
                <th colId="masterid" sortable>Master Instance </th>
                <th colId="num_ports" sortable>Ports </th>
                <th colId="mfr" sortable>Vendor </th>
                <th colId="hw" sortable>H/W Version </th>
                <th colId="sw" sortable>S/W Version </th>
                <th colId="protocol" sortable>Protocol </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-hide="ctrl.tableData.length">
                <td class="nodata" colspan="9">
                    No Devices found
                </td>
            </tr>

            <tr ng-repeat="dev in ctrl.tableData"
                ng-click="selectCallback($event, dev)"
                ng-class="{selected: dev === sel}"
                ng-repeat-done>
                <td class="table-icon">
                    <div icon icon-id="{{dev._iconid_available}}"></div>
                </td>
                <td class="table-icon">
                    <div icon icon-id="{{dev._iconid_type}}"></div>
                </td>
                <td>{{dev.id}}</td>
                <td>{{dev.masterid}}</td>
                <td>{{dev.num_ports}}</td>
                <td>{{dev.mfr}}</td>
                <td>{{dev.hw}}</td>
                <td>{{dev.sw}}</td>
                <td>{{dev.protocol}}</td>
            </tr>
        </tbody>
    </table>

</div>
