<!-- Device partial HTML -->
<div id="ov-device">
    <div class="tabular-header">
        <h2>Devices ({{tableData.length}} total)</h2>
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="36"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
            <div class="separator"></div>

            <div ng-class="{active: !!selId}"
                 icon icon-id="flowTable" icon-size="36"
                 tooltip tt-msg="flowTip"
                 ng-click="nav('flow')"></div>

            <div ng-class="{active: !!selId}"
                 icon icon-id="portTable" icon-size="36"
                 tooltip tt-msg="portTip"
                 ng-click="nav('port')"></div>

            <div ng-class="{active: !!selId}"
                 icon icon-id="groupTable" icon-size="36"
                 tooltip tt-msg="groupTip"
                 ng-click="nav('group')"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>
        <div ng-show="loading" class="loading-wheel"
             icon icon-id="loading" icon-size="75"></div>

        <div class="table-header" onos-sortable-header>
            <table>
                <tr>
                    <td colId="available" class="table-icon" sortable></td>
                    <td colId="type" class="table-icon" sortable></td>
                    <td colId="name" sortable>Friendly Name </td>
                    <td colId="id" sortable>Device ID </td>
                    <td colId="masterid" sortable>Master Instance </td>
                    <td colId="num_ports" col-width="60px" sortable>Ports </td>
                    <td colId="mfr" sortable>Vendor </td>
                    <td colId="hw" sortable>H/W Version </td>
                    <td colId="sw" sortable>S/W Version </td>
                    <td colId="protocol" col-width="80px" sortable>Protocol </td>
                </tr>
            </table>
        </div>

        <div class="table-body">
            <table onos-flash-changes id-prop="id">
                <tr ng-if="!tableData.length" class="no-data">
                    <td colspan="9">
                        No Devices found
                    </td>
                </tr>

                <tr ng-repeat="dev in tableData track by $index"
                    ng-click="selectCallback($event, dev)"
                    ng-class="{selected: dev.id === selId}"
                    ng-repeat-complete row-id="{{dev.id}}">
                    <td class="table-icon">
                        <div icon icon-id="{{dev._iconid_available}}"></div>
                    </td>
                    <td class="table-icon">
                        <div icon icon-id="{{dev._iconid_type}}"></div>
                    </td>
                    <td>{{dev.name}}</td>
                    <td>{{dev.id}}</td>
                    <td>{{dev.masterid}}</td>
                    <td>{{dev.num_ports}}</td>
                    <td>{{dev.mfr}}</td>
                    <td>{{dev.hw}}</td>
                    <td>{{dev.sw}}</td>
                    <td>{{dev.protocol}}</td>
                </tr>
            </table>
        </div>

    </div>

    <device-details-panel></device-details-panel>

</div>
