<nav id="nav" [@navState]="ns.showNav?'active':'inactive'">
    <div class="nav-hdr">Platform</div>
    <a (click)="ns.hideNav()" routerLink="/apps" routerLinkActive="active">
        <!--<div onosIcon iconId="nav_apps"></div>
         Using the new IconComponent rather than the directive -->
        <onos-icon iconId="nav_apps"></onos-icon>Apps</a>
    <div class="nav-hdr">Network</div>
    <a (click)="ns.hideNav()" routerLink="/devices" routerLinkActive="active">
        <onos-icon iconId="nav_devs"></onos-icon>Devices</a>
</nav>