export ONOS_NIC="{{ onos_nic }}"
export OCI="{{ lxc.lxc_one.ip }}"
export OC1="{{ lxc.lxc_one.ip }}"
export OC2="{{ lxc.lxc_two.ip }}"
export OC3="{{ lxc.lxc_three.ip }}"
export ONOS_APPS="drivers,openflow"
export ONOS_USER="sdn"