<!-- Topology View partial HTML -->
<div id="ov-topo2">

    <!-- <div id="topo2tmp">
        <div class="parentRegion">
            Parent Region: <span> - </span>
        </div>
        <div class="thisRegion">
            This Region: <span> - </span>
        </div>
        <div class="subRegions">
            <h4>Subregions</h4>
            <div></div>
        </div>
        <div class="devices">
            <h4>Devices</h4>
            <div></div>
        </div>
        <div class="hosts">
            <h4>Hosts</h4>
            <div></div>
        </div>
        <div class="links">
            <h4>Links</h4>
            <div></div>
        </div>
        <div class="peers">
            <h4>Peers</h4>
            <div></div>
        </div>
    </div> -->

    <!-- Below here is good; Above here is temporary, for debugging -->

    <svg viewBox="0 0 1000 1000"
        resize offset-height="56" offset-width="12"
        notifier="notifyResize()">
    </svg>
</div>
