<!-- Users page partial html -->
<div class="container">
    <div id="user">
        <div class="main-left" ng-class="{family: isFamily}">
            <table class="user-info">
                <tr>
                    <th class="user-pic"></th>
                    <th>Name</th>
                    <th>Last Login</th>
                </tr>
                <tr ng-repeat="user in users" class="fadein">
                    <td class="user-pic">
                        <img ng-src="{{'/imgs/' + user.icon_id + '.jpg'}}">
                    </td>
                    <td>{{user.name}}</td>
                    <td>{{shared.userActivity[user.id]}}</td>
                </tr>
            </table>
        </div>

        <div class="main-right" ng-class="{family: isFamily}">
            <form ng-if="isFamily"
                  name="changeLevels">
                <table class="user-form">
                    <tr>
                        <th>
                            Select Site Rating
                            <span class="help"
                                  ng-click="showRatings()"> (?)</span>
                        </th>
                    </tr>
                    <tr ng-repeat="user in users" class="options">
                        <td>
                            <select ng-init="newLevels[user.id]=user.profile.url_filter.level"
                                    ng-model="newLevels[user.id]"
                                    ng-options="l for l in levels">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="buttons">
                            <div ng-show="showCheck">
                                <icon size="20px" id="checkMark"></icon>
                            </div>
                            <input type="reset" value="Cancel"
                                   ng-click="cancelChanges(changeLevels)"
                                   ng-disabled="changeLevels.$pristine">
                            <input type="button" value="Apply"
                                   ng-click="applyChanges(changeLevels)"
                                   ng-disabled="changeLevels.$pristine">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div ng-if="isFamily">
            <ratings-panel></ratings-panel>
        </div>
    </div>
</div>