<!-- Masthead partial HTML -->
<span class="nav-menu-button clickable" ng-click="mastCtrl.toggleNav()">
    <img src="data/img/nav-menu-mojo.png"/>
</span>

<img class="logo" src="data/img/masthead-logo-mojo.png">

<div id="mast-right">
    <nav>
        <div class="dropdown-parent">
            <a class="clickable user-menu__name">{{username()}} <i class="dropdown-icon"></i></a>
            <div class="dropdown">
                <a href="rs/logout"> {{lion('logout')}} </a>
            </div>
        </div>
        <div class="ctrl-btns">
            <div class="active clickable icon"
                 icon icon-size="32" icon-id="query"
                 tooltip tt-msg="helpTip"
                 ng-click="directTo()"></div>
        </div>
    </nav>

</div>
