<!-- Bundle page partial html -->
<div id="bundle" class="container">
    <div class="main-left">
        <h4>You are subscribed to the</h4>
        <h3>{{name}}</h3>
        <p>{{desc}}</p>
        <table>
            <tr ng-repeat="func in funcs" class="fadein">
                <td class="icon">
                    <img ng-src="{{'/imgs/' + func.id + '.png'}}">
                </td>
                <td class="name">{{func.name}}</td>
                <td class="desc">{{func.desc}}</td>
            </tr>
        </table>
    </div>
    <div class="main-right">
        <img src="imgs/bundle.jpg">
        <div ng-click="showBundles()">
            <h2>Available Bundles</h2>
        </div>
        <div id="bundles" bundle-available></div>
    </div>
</div>