<!-- Bundle page partial html -->
<div id="bundle" class="container">
    <nav></nav>
    <div class="main-left">
        <h4>You are subscribed to the</h4>
        <h3>{{name}}</h3>
        <p>{{desc}}</p>
        <table>
            <tr ng-repeat="func in funcs" class="fadein">
                <td class="icon">icon of function</td>
                <td class="name">{{func.name}}</td>
                <td class="desc">{{func.desc}}</td>
            </tr>
        </table>
    </div>
    <div class="main-right">
        <h2>Available Bundles</h2>
        <div bundle-available></div>
        <!--Can use ng-repeat on the above div for how many bundles are available-->
    </div>
</div>