/* css for ROADM flow table view */

#ov-roadm-flow h2 {
    display: inline-block;
}

/* Panel Styling */
#ov-roadm-flow-item-details-panel.floatpanel {
    position: absolute;
    top: 115px;
}

.light #ov-roadm-flow-item-details-panel.floatpanel {
    background-color: rgb(229, 234, 237);
}

.dark #ov-roadm-flow-item-details-panel.floatpanel {
    background-color: #3A4042;
}

#ov-roadm-flow-item-details-panel h3 {
    margin: 0;
    font-size: large;
}

#ov-roadm-flow-item-details-panel h4 {
    margin: 0;
}

#ov-roadm-flow-item-details-panel td {
    padding: 5px;
}
#ov-roadm-flow-item-details-panel td.label {
    font-style: italic;
    opacity: 0.8;
}

#ov-roadm-flow .table-header span.units {
    font-variant: normal;
    text-transform: none;
}

/* editable attenuation */
#ov-roadm-flow .editable span {
    width: 100%;
    display: inline-block;
}

#ov-roadm-flow .editable span.attenuation:hover {
    color: #009fdb
}

#ov-roadm-flow .editable input {
    padding: 0;
}
#ov-roadm-flow .editable button {
    margin: 0;
    padding: 0px 5px 0px 5px;
}

#ov-roadm-flow .editable input {
    width: 80px;
}

#ov-roadm-flow .editable .input-error {
    color: red;
    font-size: 10px;
    width: 180px;
}

/* delete flow button */
#ov-roadm-flow .table-body .delete-icon {
    font-size: 24px;
    line-height: 0px;
    text-align: center;
}

#ov-roadm-flow .table-body .delete-icon:hover {
    color: red;
}

/* Create connection form */
#ov-roadm-flow div.flow-form {
    background-color: #ffffff;
    border: 1px solid #888888;
    width: 720px;
    height: 360px;
    padding: 20px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#ov-roadm-flow .flow-form div.delete-icon {
    cursor: pointer;
    cursor: hand;
    font-size: 36px;
    position: absolute;
    right: 20px;
    top: 5px;
}

#ov-roadm-flow .flow-form label {
    width: 150px;
    display: inline-block;
}

#ov-roadm-flow .flow-form input {
    width: 150px;
    display: inline-block
}

#ov-roadm-flow .flow-form select {
    width: 150px;
}

#ov-roadm-flow .flow-form .form-error {
    margin-left: 15px;
    color: red;
}

#ov-roadm-flow .flow-form form {
    font-size: 14px;
    color: #444444;
    line-height: 26px;
    margin-bottom: 15px;
}

#ov-roadm-flow .flow-form button.submit {
    margin-left: 150px;
    width: 150px;
}
