<!-- Host partial HTML -->
<div id="ov-host">
    <h2>Hosts ({{ctrl.hostData.length}} total)</h2>
    <table class="summary-list"
           onos-fixed-header
           onos-sortable-header
           sort-callback="sortCallback(requestParams)">
        <thead>
            <tr>
                <th colId="id" sortable>Host ID </th>
                <th colId="mac" sortable>MAC Address </th>
                <th colId="vlan" sortable>VLAN ID </th>
                <th colId="ips" sortable>IP Addresses </th>
                <th colId="location" sortable>Location </th>
            </tr>
        </thead>

        <tbody>
        <tr ng-repeat="host in ctrl.hostData"
            ng-repeat-done>
            <td>{{host.id}}</td>
            <td>{{host.mac}}</td>
            <td>{{host.vlan}}</td>
            <td>{{host.ips}}</td>
            <td>{{host.location}}</td>
        </tr>
        </tbody>
    </table>

</div>
