/*
 ONOS CSS file

 @author Simon Hunt
 */

body, html {
    height: 100%;
}

/*
 * Classes
 */

span.title {
    color: #37b;
    font-size: 14pt;
    font-style: italic;
    vertical-align: 10px;
}

span.radio {
    color: darkslateblue;
    font-size: 10pt;
}

span.right {
    float: right;
}

/*
 * === DEBUGGING ======
 */
svg {
    /*border: 1px dashed red;*/
}


/*
 * Network Graph elements ======================================
 */

svg .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
    opacity: .7;
    /*marker-end: url(#end);*/

    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

marker#end {
    fill: #666;
    stroke: #666;
    stroke-width: 1.5px;
}

svg .node rect {
    stroke-width: 1.5px;

    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

svg .node.device.roadm rect {
    fill: #229;
}
svg .node.device.switch rect {
    fill: #55f;
}

svg .node.host rect {
    fill: #787;
}

svg .node text {
    fill: white;
    font: 10px sans-serif;
    pointer-events: none;
}

svg .node.selected rect {
    filter: url(#blue-glow);
}

svg .link.inactive,
svg .node.inactive rect,
svg .node.inactive text,
svg .node.inactive image {
    opacity: .2;
}

svg .node.inactive.selected rect,
svg .node.inactive.selected text,
svg .node.inactive.selected image {
    opacity: .6;
}

svg .legend {
    position: fixed;
}

svg .legend .category rect {
    stroke-width: 1px;
}

svg .legend .category text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

/*
 * =============================================================
 */

/*
 * Specific structural elements
 */

#frame {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#mast {
    height: 36px;
    padding: 4px;
    background-color: #ccc;
    vertical-align: baseline;
}

