<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <get>
    <filter type="subtree">
      <lldp-global-operational xmlns="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-ieee-lldp"/>
    </filter>
  </get>
</rpc>