<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <get>
    <filter type="subtree">
      <oc-if:interfaces xmlns:oc-if="http://openconfig.net/yang/interfaces">
        <oc-if:interface>
          <oc-if:name>{{port-number}}</oc-if:name>
        </oc-if:interface>
      </oc-if:interfaces>
    </filter>
  </get>
</rpc>