<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="94"
           ncx:last-modified="2018-05-07T04:10:32Z"
           ncx:etag="147">
  <data>
    <interfaces xmlns="http://openconfig.net/yang/interfaces">
      <interface>
        <name>1</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>461251</in-octets>
            <in-unicast-pkts>5366</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>3258925768591</out-octets>
            <out-unicast-pkts>12730182869</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">5418</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">12730184135</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>2</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>3</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>4</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>5</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>6</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>7</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>8</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>9</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>10</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>11</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>12</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>13</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>14</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>15</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>16</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>17</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>18</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>19</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>20</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>21</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>22</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>23</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>24</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>25</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>26</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>27</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>28</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>29</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>30</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>31</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>32</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>33</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>34</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>35</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>36</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>37</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>38</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>794</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">7</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>39</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>40</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>5668138</in-octets>
            <in-unicast-pkts>8</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>18325713</out-octets>
            <out-unicast-pkts>7</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">5006</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">16411</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>41</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>3309851811461</in-octets>
            <in-unicast-pkts>12730178322</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>18379982</out-octets>
            <out-unicast-pkts>1896</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">12730183882</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">17795</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>42</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ettp</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
            <in-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</in-pkts>
            <out-pkts xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">0</out-pkts>
          </counters>
        </state>
      </interface>
      <interface>
        <name>mgmtbr0</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>S5_S10</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>S9_S10</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_RED_1</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_BLUE</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
      <interface>
        <name>L3VPN_GREEN</name>
        <config>
          <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">ip</type>
        </config>
        <state>
          <counters>
            <in-octets>0</in-octets>
            <in-unicast-pkts>0</in-unicast-pkts>
            <in-errors>0</in-errors>
            <out-octets>0</out-octets>
            <out-unicast-pkts>0</out-unicast-pkts>
            <out-errors>0</out-errors>
          </counters>
        </state>
      </interface>
    </interfaces>
  </data>
</rpc-reply>