<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
<get>
  <filter type="subtree">
    <port:waveserver-ports xmlns:port="urn:ciena:params:xml:ns:yang:ciena-ws:ciena-waveserver-port">
      <port:ports>
        <port:state/>
        <port:id/>
      </port:ports>
    </port:waveserver-ports>
  </filter>
</get>
</rpc>]]>]]>