[*]
wallpaper_mode=center
wallpaper_common=1
wallpapers_configured=1
wallpaper0=/usr/share/lubuntu/wallpapers/onos.png
wallpaper=/usr/share/lubuntu/wallpapers/onos.png
desktop_bg=#ffffff
desktop_fg=#000000
desktop_shadow=#000000
desktop_font=Ubuntu 11
show_wm_menu=0
sort=mtime;ascending;
show_documents=0
show_trash=1
show_mounts=1    