<!-- Login page partial html -->
<div id="login" class="container">
    <div id="login-wrapper">
        <div id="login-logo">
            <icon size="125" id="bird"></icon>
        </div>

        <div id="login-form">
            <h2>Subscriber Portal</h2>
            <form>
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
                <a href="#/home"><input type="button" value="Log In"></a>
            </form>
        </div>
    </div>
</div>