<!-- Login page partial html -->
<div id="login" class="container">
    <div id="login-wrapper">
        <div id="login-form">
            <div class="outline"></div>
            <h2>Subscriber Portal</h2>
            <form>
                <input ng-model="email" type="text" placeholder="email" required>
                <input ng-model="password" type="password" placeholder="password" required>
                <input ng-click="login()" type="button" value="Log In">
            </form>
        </div>
    </div>
</div>