<!-- Home page partial html -->
<div id="home" class="container">
    <nav></nav>
    <div class="main-left">
        <h4>You are subscribed to the</h4>
        <h3>{{bundle}}</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit
            amet ultricies metus. Praesent pretium diam et nibh lacinia
            faucibus. Donec commodo efficitur ex quis faucibus.
            Pellentesque nec commodo metus. Nulla ultrices odio vitae tellus
            tempor, quis fringilla arcu pellentesque. Duis efficitur massa
            libero, et molestie diam vulputate nec. Nulla vitae lacinia odio.
        </p>
    </div>

    <div class="main-right">
        <table class="title">
            <tr>
                <th>Users</th>
            </tr>
        </table>
        <table class="content">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>MAC Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.mac}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
