<!-- Home page partial html -->
<div id="home" class="container">
    <div class="main-left">
        <img src="/imgs/home.jpg">
    </div>

    <div class="main-right">
        <div class="move-down">
            <div class="bundle-title">
                <h4>Welcome Dad!</h4>
                <h5>You are subscribed to the</h5>
                <h3>{{bundle_name}}</h3>
            </div>

            <p>{{bundle_desc}}</p>


            <h4>Users</h4>
            <table class="users">
                <thead>
                    <tr>
                        <th class="user-pic"></th>
                        <th>Name</th>
                        <th>Last Login</th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users" class="fadein">
                        <td class="user-pic">
                            <img ng-src="{{'/imgs/' + user.icon_id + '.jpg'}}">
                        </td>
                        <td>{{user.name}}</td>
                        <td>{{shared.userActivity[user.id]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
