<!-- Home page partial html -->
<div id="home" class="container">
    <nav></nav>
    <div class="main-left">
        <h2>Dashboard</h2>
        <h4>You are subscribed to the</h4>
        <h3>{{bundle}}</h3>
    </div>

    <div class="main-right">
        <table class="title">
            <tr>
                <th>Users</th>
            </tr>
        </table>
        <table class="content">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>MAC Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.mac}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
