/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Open Sans', normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

/*
   overflow hidden is to ensure that the body does not expand to account
   for any flyout panes, that are positioned "off screen".
 */
body {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
