<!--Nav HTML-->
<div class="nav">
    <ul>
        <a href="#/home">
            <li ng-class="{selected: page.curr === 'dashboard'}"
                ng-click="$route.reload()">Home</li>
        </a>
        <a href="#/user">
            <li ng-class="{selected: page.curr === 'user'}"
                ng-click="$route.reload()">Users</li>
        </a>
        <a href="#/bundle">
            <li ng-class="{selected: page.curr === 'bundle'}"
                ng-click="$route.reload()">Bundles</li>
        </a>
    </ul>
</div>
