<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns:ncx="http://netconfcentral.org/ns/yuma-ncx"
           xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
           message-id="9"
           ncx:last-modified="2018-05-07T03:55:23Z"
           ncx:etag="162">
  <data>
    <components xmlns="http://openconfig.net/yang/platform">
      <component>
        <name>5162</name>
        <properties>
          <property>
            <name>base-mac</name>
            <config>
              <name>base-mac</name>
            </config>
            <state>
              <name>base-mac</name>
              <value>1C1161EDB400</value>
              <configurable>false</configurable>
            </state>
          </property>
        </properties>
        <state>
          <mfg-name>Ciena</mfg-name>
          <name>5162</name>
          <serial-no>M9258604</serial-no>
          <version>2</version>
        </state>
      </component>
    </components>
  </data>
</rpc-reply>